body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ddfff7;
}

/* styling the header of the file */
header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  font-size: 40px;
  /*issue fixed: color reaches to the start of the page*/
  padding: 0 20px;
  color: #000000;
}

header,
footer {
  background-color: #93e1d8;
}

/* style right side of header container */
.right {
  margin: 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
}

/* navigation bar */
nav {
  color: #000000;
  height: 100px;
}

nav ul {
  list-style-type: none;
  text-align: end;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.3s ease-in;
}

nav ul li a:hover {
  color: #ddfff7;
}

/* styling for sorting */
#sort-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}

#sort {
  aspect-ratio: 3/1;
}

/* search bar styling */
#search-bar {
  width: 100%;
  gap: 5px;
  display: flex;
  align-items: center;
}

#search-input {
  width: 100%;
  border: 3px solid #000000;
  padding: 5px;
  border-radius: 7px;
  outline: none;
}

.search-btns {
  aspect-ratio: 1/1;
  color: #000000;
  font-size: 70%;
}

.search-btns:hover {
  transform: scale(1.25);
}

footer {
  padding: 5px;
  /*fixes the footer to the bottom of the page*/
  position: fixed;
  bottom: 0;
  width: 100%;
}

main {
  padding-bottom: 5%;
}

/* Styling playlist cards */
#playlist-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 20%;
  margin: 20px;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0.5em 0.5em 0.5em #93e1d8;
}

#playlist-photo {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px 10px 0 0;
}

/* playlist buttons */
.card-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.card-btns i {
  margin-right: 5px;
}

.card-btns i:hover {
  transform: scale(1.5);
}

/* Like button */
.likes {
  display: flex;
  align-items: center;
}

#like-btn {
  margin: 15%;
}

#like-btn:hover {
  color: #ed254e;
}

/* New playlist card */
.new-playlist:hover {
  background-color: #93e1d8;
}

.new-playlist i {
  color: black;
  font-size: 500%;
}

.new-playlist h3 {
  padding: 5%;
  text-align: center;
}

/* new playlist modal */
#playlist-form {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Playlist information modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  /* margin: 15% auto; */
  
  margin: auto;
  margin-top: 6%;
  padding: 20px 100px;
  border: 1px solid #888;
  width: 40%;
  max-height: 70%;
  /* max-height: 50%; */
  
  overflow: hidden;
  display: flex;
  flex-direction: column;
  animation: 0.3s ease-in 0s movement;
}

@keyframes movement {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(0%);
  }
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: end;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#playlist-modal-photo {
  aspect-ratio: 1/1;
  width: 30%;
  margin-right: 20px;
}

.playlist-info {
  display: flex;
  margin-bottom: 20px;
}

.song-img {
  width: 10%;
  height: auto;
  aspect-ratio: 1/1;
  margin: 10px;
  margin-right: 20px;
}

.song {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}

.no-space {
  margin: 0px;
  padding: 0px;
}

.song-time {
  display: flex;
  margin: 10px;
  margin-left: auto;
}

.outline {
  border: 2px solid #033f63;
}

#playlist-songs {
  overflow: scroll;
  height: 100%;
  margin-top: 1%;
}

/* Prevent body scrolling when modal is open */
body.opened {
  overflow: hidden;
}

#shuffle-btn {
  background-color: #93e1d8;
  width: 20%;
  aspect-ratio: 3/1;
  font-size: 100%;
}

#shuffle-btn:hover {
  background-color: #48d0c0;
  transform: scale(1.1);
}

/* styling for featured songs */
#featured-page {
  display: grid;
  /* grid-auto-flow: column; */
  grid-template-columns: 1fr 1fr;
  gap: 1%;
  margin: 5%;
  aspect-ratio: 2/1;
}
#featured-playlist {
  width: 100%;
}
#featured-img {
  width: 70%;
  aspect-ratio: 1 / 1;
  border-radius: 20px;
}
.feat-song-img {
  height: 100px;
}

.feat-song {
  display: flex;
  align-items: center;
  aspect-ratio: 1 / 1;
  border-radius: 20px;
}

.featured-songs {
  max-height: 100%;
  overflow: scroll;
}