body {
  font-family: "Arial", sans-serif;
  /* font-family: "Winky Rough", sans-serif; */
  margin: 0;
  padding: 0;
  background-color: #DDFFF7;
}

header {
  display: flex;
  justify-content: center;
  font-size: 40px;
  /*issue fixed: color reaches to the start of the page*/
  padding-left: 20px;
  color: #000000;
}

main {
  margin-bottom: 1%;
}

footer {
  padding: 5px;
  /*fixes the footer to the bottom of the page*/
  position: fixed;
  bottom: 0;
  width: 100%;
}

header, footer {
  background-color: #93E1D8;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 20px;
  padding: 0px;
  border-radius: 10px;
  max-width: 20%;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0.5em 0.5em 0.5em #93E1D8;
}

.card-row {
  display: flex;
  /* justify-content: space-around; */

}

#playlist-photo {
  width: 100%;
  aspect-ratio: 1/1;
  margin: 0px;
  padding: 0px;
  border-radius: 10px 10px 0 0;
}

.likes {
  display: flex;
  align-items: center;
  padding: 5px;
}

#heart {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

/* CSS for Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px 100px;
  border: 1px solid #888;
  width: 80%;
  /* height: 60%; */
  animation: 0.3s ease-in 0s movement;
}

@keyframes movement {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(0%);
  }
}

.close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}
.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
} 


/* Modal Styling */
#playlist-modal-photo {
  /* width: 150px;
  height: 100px; */
  width: 20%;
  height: 0%;
  aspect-ratio: 1/1;

  margin-right: 20px;
}

.playlist-info {
  display: flex;
  margin-bottom: 20px;
}

.song-img {
  width: 10%;
  height: auto;
  aspect-ratio: 1/1;
  margin: 10px;
  margin-right: 20px;
}

.song {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}

.no-space {
  margin: 0px;
  padding: 0px;
}

.song-time {
  display: flex;
  margin: 10px;
  margin-left: auto;
}

.outline {
  border: 2px solid #033F63;
}

#playlist-songs {
  overflow: scroll;
  height: 60%;
  margin-bottom: 1%;
}

#like-btn {
  /* background-color: transparent;
  border: none; */
  margin: 15%;
}

#like-btn:hover {
  transform: scale(1.5);
  color: #ED254E;
}

#shuffle-btn {
  background-color: #93E1D8;
  width: 20%;
  aspect-ratio: 3/1;
  font-size: 15px;
}

#shuffle-btn:hover {
  background-color: #48d0c0;
  transform: scale(1.1);
}