body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: lightgray;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    /*issue fixed: color reaches to the start of the page*/
    padding-left: 20px;
    color: #595959;
}

footer {
    background-color: lightgray;
    padding: 5px;
    /*fixes the footer to the bottom of the page*/
    position: fixed;
    bottom: 0;
    width: 100%
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 150px;
    margin: 20px;
    padding: 5px;
    border: 1px solid grey;
}

.card-row {
    display: flex;
    justify-content: space-around;
}

#playlist-photo {
    border: 1px solid grey;
    width: 140px;
    height: 140px;
    margin: 5px;
}

.likes {
    display: flex;
    align-items: center;
    padding: 5px;
}

#heart {
    border: 1px solid grey;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
